@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;700;900&display=swap');

// Update Bulma's global variables
$family-sans-serif: "Overpass", sans-serif;

