@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@900&family=IBM+Plex+Mono:wght@300;400;500&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');

@font-face {
  font-family: 'Acknowledgement';
  src: url('~/assets/ACKNO.ttf');
}

// Update Bulma's global variables
$family-sans-serif: 'IBM Plex Sans', sans-serif;
$grey-dark: #312e30;
$turquoise: #f2c716; // not turquoise

body {
  background-color: rgb(251, 249, 244);
}

// Clamp width to improve scanning readability.
.content {
  max-width: 50em;
}

// General stuff for data summary/preview tables + report sections
blockquote {
  font-size: 1.15rem;
}

table {
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1;

  caption {
    font-family: 'Overpass', sans-serif !important;
    font-size: 1.15rem;
    margin-bottom: 0.25rem;
  }
}

table.preview {
  td,
  th {
    font-size: 0.85rem;
    padding: 0.5rem;
    border: 1px solid #888;
  }
  th {
    font-weight: bold;
  }
  tfoot td {
    border: none;
  }
}

// vertical ellipsis
.vellip {
  font-size: 120%;
  font-weight: bold;
  text-align: center;
}

// Fix spacing on radio buttons / fields (beufy)
label.b-radio.radio span.control-label {
  margin-right: 1.5rem;
  padding-left: 0.4rem !important;
  position: relative;
  top: 0.115rem;
}

div.field label.label {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}
