// Here's where we override defaults in Bulma!
// Note that this is where our font imports come from too.
@import 'bulma-overrides.scss';

// Import bulma styles
@import '~bulma';

// Import buefy styles
@import '~buefy/src/scss/buefy';

@media print {
  .no-print {
    display: none !important;
  }
}

ul.module-link {
  list-style: none;
  li::before {
    font-weight: 600;
    content: '\21AA';
  }
}

// Safe mode stuff
.safe-mode {
  background-color: #E7B69A;
}

.clamp {
  max-width: 65rem;
  margin: 3rem auto;
}