// Here's where we override defaults in Bulma!
// Note that this is where our font imports come from too.
@import 'bulma-overrides.scss';

// Import bulma styles
@import '~bulma';

// Import buefy styles
@import '~buefy/src/scss/buefy';

// Some additional common styles.
.content-wrapper {
  max-width: 50rem;
  margin: 0 auto;
}

.content-clamp {
  max-width: 50rem;
}

@media print {
  .no-print {
    display: none !important;
  }
}
